{% extends 'Main.html' %}

{% block content %}
<center>
    <h1>Если вы хотите стать учеником Яндекс. Лицея:</h1></br>
    <div>
        <h3>Заполните анкету</h3>
        Логин, которым вы авторизуетесь во время заполнения анкеты,
        будет использоваться во время обучения в Яндекс.Лицее.
        После заполнения анкеты вам на почту придёт письмо со ссылкой на отборочное тестирование.
    </div></br>
    <div>
        <h3>Пройдите тестирование</h3>
        На отборочное тестирование даётся 45 минут и всего одна попытка.
        Будьте внимательны и ознакомьтесь с инструкцией перед началом теста.
        Вот <a href="/test">пример теста.</a>
    </div></br>
    <div>
        <h3>Подготовьтесь к собеседованию</h3>
        Результаты отборочного тестирования придут вам на почту.
        Если вы справились, вас пригласят на очное собеседование.
        Вместе с приглашением вам придёт задание, которое нужно будет подготовить.
        Также нужно будет заполнить и подписать согласие на обработку персональных данных.
    </div></br>
    <div>
        <h3>Пройдите собеседование</h3>
        Собеседование будет проводиться на площадке, которую вы выбрали для обучения.
        После собеседования вам на почту придёт письмо с результатами.
        Если вы справились со всеми этапами и вас зачислили, то в письме будет информация о старте обучения.
    </div></br>
</center>
{% endblock %}