{% extends 'Main.html' %}

{% block content %}
<div>
    <h3>
        Место расположения:
        <b>
            МАОУ «Многопрофильный лицей № 1»
        </b>
    </h3>
</div>
<div>
    <font size="+2">
        Адрес: Россия, Челябинская область, Магнитогорск, проспект Карла Маркса, 106<br/><br/>
    </font>
</div>
<div>
<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Acf0488d1dd78eeeb9c3947f9eab1b84fc3f8b6fc6ad37e7140a98786df020622&amp;width=100%25&amp;height=500&amp;lang=ru_RU&amp;scroll=true"></script>
</div></br>
{% endblock %}