{% extends 'Main.html' %}

{% block content %}
<center>
    <h1>Расписание занятий</h1></br>
    <h4>Первый курс</h4>
    <p>
    Вторник - 15:00 – 16:45</br>
    Пятница — 15:00 – 16:45</br></br>
    </p></br>
    <h4>Второй курс</h4>
    <div>
        <table>
            <tr>
                <td><div>
                    <font size="+2">Первая группа</font></br></br>
                    Среда — 15:00 – 16:45</br>
                    Суббота — 14:15 – 16:00</br></br>
                </div></td>
                <td>
                    <pre>                                                </pre>
                </td>
                <td><div>
                    <font size="+2">Вторая группа</font></br></br>
                    Среда — 15:00 – 16:45</br>
                    Суббота — 14:15 – 16:00</br></br>
                </div></td>
            </tr>
        </table></br>
    </div>
</center>
{% endblock %}