{% extends 'Base.html' %}

{% block content %}
<div id="accordion">
  {% for number in range(3) %}
  <div class="card">
    <div class="card-header" id="{{ number + 1}}">
        <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#{{ (number + 1) * 10 }}" aria-expanded="false" aria-controls="{{ (number + 1) * 10 }}">
                {{ items[number].title }}
            </button>
            {% if items[number].handheld %}
            <span class="badge badge-light">РУЧ</span>
            {% endif %}
            {% if sols[number] %}
            {% if sols[number].status == 'OK' %}
                <img src="/static/img/green.png" width="30" height="30"></img>
            {% else %}
                {% if sols[number].status == 'WA' %}
                    <img src="/static/img/red.png" width="30" height="30"></img>
                {% else %}
                    {% if sols[number].status == '-' %}
                        <img src="/static/img/yellow.png" width="30" height="30"></img>
                    {% endif %}
                {% endif %}
            {% endif %}
            {% endif %}
        </h5>
    </div>
    <div id="{{ (number + 1) * 10 }}" class="collapse" aria-labelledby="{{ number + 1}}" data-parent="#accordion">
        <div class="card-body">
            <p>
            {{ items[number].condition }}
            <a class="btn btn-warning" href="/index/{{ number + 1 }}" role="button">
                Перейти к задаче
            </a></p>
        </div>
    </div>
  </div>
  {% endfor %}
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
{% endblock %}
