.lycbutton {
  display: inline-block;
  color: black;
  text-decoration: none;
  padding: .5em 2em;
  outline: none;
  border-width: 2px 0;
  border-style: solid none;
  border-color: #ffcc00;
  border-radius: 6px;
  background: #ffcc00;
  transition: 0.2s;
}