{% extends 'Base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
<table class="table">
    <thead>
    <tr>
        <th>
            <h1>Авторизация</h1>
        </th>
        <th>
            <center><h1>Регистрация</h1></center>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            {{ wtf.quick_form(form) }}
        </td>
        <td>
            <center>
                Если вы здесь впервые, зарегистрируйтесь</br></br>
                <a href="/register" class="btn btn-dark" role="button">Регистрация</a>
            </center>
        </td>
    </tr>
    </tbody>
</table>
{% endblock %}