{% extends 'Main.html' %}

{% block content %}
<table class="table table-light">
    <tr>
        <td>
            <img src="/static/img/photo1.jpg"></img>
        </td>
        <td align="right">
            <img src="/static/img/photo2.jpg"></img>
        </td>
    </tr>
    <tr>
        <td>
            <h5>
                Проценко Константин Сергеевич
            </h5>
            <a href="https://vk.com/protsenkokostya">
                <font color="black">
                    Страница в социальной сети
                </font>
            </a>
        </td>
        <td align="right">
            <h5>
                Глазкова Елена Владимировна
            </h5>
            <a href="https://vk.com/id6859718">
                <font color="black">
                    Страница в социальной сети
                </font>
            </a>
        </td>
    </tr>
</table>
{% endblock %}